{% extends "base.html" %}
{% block content %}
    <h1>Projects</h1>
    <button class="btn btn-primary mb-3" onclick="openPopup('{{ url_for('edit_project.create_project') }}')">Create Project</button>

    <h3>Your Created Projects</h3>
    <ul class="list-group mb-4">
        {% for project in created_projects %}
            <li class="list-group-item">
                <a href="{{ url_for('project', project_id=project['ProjectID']) }}">{{ project['ProjectName'] }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Projects You Participate In</h3>
    <ul class="list-group">
        {% for project in participated_projects %}
            <li class="list-group-item">
                <a href="{{ url_for('project', project_id=project['ProjectID']) }}">{{ project['ProjectName'] }}</a> 
                - Role: {{ project['Role'] }}
            </li>
        {% endfor %}
    </ul>

    <div id="popupContainer"></div>
{% endblock %}